---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import EmptySlot from "@components/EmptySlot.astro";
import { ABOUT, SITE } from "@consts";
---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <h1 class="animate font-semibold text-black dark:text-white">About</h1>

      <section class="animate space-y-4">
        <h2 class="font-semibold text-black dark:text-white">
          Academic background
        </h2>
        <article class="space-y-2 font-serif text-black/80 dark:text-white/80">
          <p>
            {SITE.DEGREE}, {SITE.TAGLINE} — {SITE.INSTITUTION} ({SITE.EDUCATION_PERIOD})
          </p>
        </article>
      </section>

      <section class="animate space-y-4">
        <h2 class="font-semibold text-black dark:text-white">Technical skills</h2>
        <article>
          <EmptySlot />
        </article>
      </section>

      <section class="animate space-y-4">
        <h2 class="font-semibold text-black dark:text-white">
          Engineering interests
        </h2>
        <article>
          <EmptySlot />
        </article>
      </section>

      <section class="animate space-y-4">
        <h2 class="font-semibold text-black dark:text-white">Future goals</h2>
        <article>
          <EmptySlot />
        </article>
      </section>
    </div>
  </Container>
</PageLayout>
